<%= div_for shout do %>
  <%= gravatar shout.user %>
  <i><%= link_to shout.user.username, shout.user %> shouted</i>
<div>
  <%= render shout.content %>
</div>
  <%= link_to time_ago_in_words(shout.created_at), shout %>
<% end %>