<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_for(:search, url: search_path, method: :get) do |form| %>
    <%= form.text_field :term %>
    <%= form.submit "Search" %><br />
  <% end %>
  <br />
  <div>
    <% if signed_in? %>
      <%= link_to current_user.username, dashboard_path %>
      <%= link_to "Log out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_session_path %>
      <%= link_to "Sign up", new_user_path %>
    <% end %>
  </div>
  <% if notice %>
    <p><i><font color= "red"><%= notice %></font></i></p>
  <% end %>
<%= yield %>

</body>
</html>
