<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    <%= current_user.username %>
    <%= link_to "Log out", session_path, methid: :delete %>
  <% else %>
    <%= link_to "Login", new_session_path %>
    <%= link_to "Sign up", new_user_path %>
  <% end %>

<%= yield %>

</body>
</html>
